<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VeriTabanli_Secim_Istatistik_App.Properties.Settings.DbSecimDatabaseConnectionString"
            connectionString="Data Source=LAPTOP-IAK7778Q\SQLEXPRESS;Initial Catalog=DbSecimDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>